body {
  background-color: #2d2d2d;
  background-image: url(../img/purpleblur.png);
  width: 100%;
}
/*navigation*/
.navigation {
  position: fixed;
  top: 0;
  z-index: 999;
  /*background-image: url(../img/menu.png);*/
  background: rgb(255, 255, 255);
  background: linear-gradient(
    137deg,
    rgba(255, 255, 255, 0.19793855042016806) 0%,
    rgba(255, 255, 255, 0.3660057773109243) 51%,
    rgba(255, 255, 255, 0.19793855042016806) 100%
  );
  backdrop-filter: blur(12.5px);
  background-size: contain;
  background-repeat: no-repeat;
  backdrop-filter: blur(14px);
  width: 100vw;
  padding: 2.75% 5%;
}
.logo {
  display: inline-block;
  width: 17.35%;
}
.logo img {
  width: 100%;
}
/*nav選項*/
.menu-wrapper {
  display: inline-block;
  width: 78%;
  vertical-align: middle;
  padding-left: 30%;
}
.menu a:hover {
  color: #c0c3ff;
}
.menu {
  display: inline-block;
  width: 19.3%;
}
.menu a {
  vertical-align: middle;
  font-family: "GenYoGothic TW";
  font-weight: 400;
  font-style: normal;
  font-size: 140%;
  color: #ffffff;
  text-decoration: none;
}
/*漢堡選單*/
.burger {
  display: inline-block;
  width: 3%;
  position: relative;
}
.burger img {
  width: 100%;
}
.burger span {
  cursor: pointer;
}
.submenu.dropdown {
  display: block;
}
/*css animation*/
@keyframes slide {
  0% {
    height: 0;
  }
  100% {
    height: 400%;
  }
}
.submenu {
  position: fixed;
  display: none;
  background-color: #383838;
  opacity: 90%;
  backdrop-filter: blur(14px);
  width: 100vw;
  left: 0;
  top: 100%;
  height: 400%;
  padding: 0%;
  animation: slide 0.4s;
}
.submenu .dropdown {
  width: 100%;
}
.sub {
  display: inline-block;
  width: 60%;
  text-align: center;
  margin: 2.2% 20%;
}
.top {
  border-bottom: #ffffff solid 1px;
  margin-top: 6.2%;
}
.sub li {
  display: inline-block;
  width: 20%;
  text-align: center;
}
.top li {
  margin-bottom: 5.2%;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  background-image: url(../img/menu.png);
  backdrop-filter: blur(14px);
  width: 100%;
}
@media (max-width: 991px) {
  .navigation {
    padding: 4% 5%;
  }
  .menu-wrapper {
    display: none;
  }
  .logo {
    margin-left: 36%;
    width: 30%;
  }
  .burger {
    margin-left: 20%;
    width: 6%;
  }
}
/*電影資訊*/
.seat-info {
  width: 65.6%;
  display: inline-block;
  height: 191px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    137deg,
    rgba(255, 255, 255, 0.19793855042016806) 0%,
    rgba(255, 255, 255, 0.3660057773109243) 51%,
    rgba(255, 255, 255, 0.19793855042016806) 100%
  );
  backdrop-filter: blur(12.5px);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin: 3.59% 17%;
  padding: 2% 4%;
}
.name,
.sideinfo,
.info {
  display: inline-block;
}
.name {
  margin-right: 4.6%;
  width: 63%;
  vertical-align: middle;
}
.name h1 {
  font-family: GenYoGothic TW;
  font-size: 225%;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 6%;
}
.name h2 {
  font-family: GenYoGothic TW;
  font-size: 200%;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #c0c3ff;
  margin: 0%;
}
.sideinfo {
  width: 30%;
  vertical-align: bottom;
}
.info {
  width: 100%;
  margin: 8% 0 1% 0;
}
.info img {
  margin-right: 8%;
  vertical-align: middle;
  width: 8%;
}
.info h4 {
  font-family: GenYoGothic TW;
  font-size: 125%;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: left;
  vertical-align: middle;
  color: #eaeaea;
  width: 80%;
  display: inline-block;
  margin: 0%;
}
.seat-info a {
  width: 2.3%;
  position: absolute;
  right: 5%;
  top: 21%;
}
.seat-info a img {
  width: 100%;
}
@media (max-width: 991px) {
  .seat-info {
    width: 80%;
    margin: 18.3% 10% 9.1% 10%;
    padding: 3.6% 4.1%;
  }
  .seat-info a {
    width: 3.3%;
    position: absolute;
    right: 5%;
    top: 11%;
  }
  .name {
    width: 97%;
    margin-right: 0%;
  }
  .name h1 {
    font-size: 118%;
    margin-bottom: 2%;
  }
  .name h2 {
    font-size: 100%;
  }
  .info h4 {
    font-size: 100%;
  }
  .sideinfo {
    width: 90%;
  }
  .info {
    width: 100%;
    margin: 3% 0 1% 0;
  }
  .info img {
    margin-right: 6%;
    width: 5%;
  }
}
/*座位區圖示*/
/*銀幕位置*/
.seat_block {
  width: 42%;
  display: inline-block;
  margin: 0 28%;
}
.seat_block h3 {
  text-align: center;
  font-family: "GenYoGothic TW";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.25em;
  color: #c0c3ff;
  border: 2px solid #c0c3ff;
  border-radius: 35px;
  background: none;
  width: 92%;
  vertical-align: middle;
  padding: 2% 0;
  margin: 0 0% 0.94% 7%;
}
/*座位圖*/
.seat-pic {
  width: 100%;
  margin-bottom: 9.2%;
}
.seat-pic img {
  width: 100%;
}
/*座位圖指示*/
.seat_instruct {
  width: 95%;
  margin-left: 7%;
  margin-bottom: 13%;
}
.instruct {
  display: inline-block;
  width: 27%;
  text-align: center;
  vertical-align: middle;
}
.instruct p {
  display: inline-block;
  color: #c0c3ff;
  font-family: GenYoGothic TW;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.instruct img {
  width: 16%;
  margin-right: 8.5%;
  display: inline-block;
}
.long {
  width: 32%;
  margin-right: 5%;
  display: inline-block;
}
.long img {
  width: 10%;
  display: inline-block;
}
.systime {
  text-align: center;
  margin: 0 auto;
  color: #eaeaea;
  font-family: GenYoGothic TW;
  font-size: 100%;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.15em;
  margin-bottom: 5%;
}
@media (max-width: 991px) {
  .seat_block {
    width: 70%;
    margin: 0 15%;
  }
  .seat_block h3 {
    font-size: 62.5%;
    margin-bottom: 7%;
  }
  .instruct p {
    font-size: 62.5%;
  }
  .instruct {
    width: 21%;
    margin-left: 4%;
  }
  .long {
    display: inline-block;
    width: 45%;
    margin: 0%;
  }
  .long img {
    width: 6.5%;
  }
  .systime {
    font-size: 62.5%;
    margin-top: 50%;
    margin-bottom: 20%;
  }
}
